<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/qna.css">
    <script src="/js/qna.js"></script>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
      <h1>문의 리스트</h1>
     
      <table class="table">
        <thead>
           <tr>
             <td></td>
             <td>연결위치</td>
             <td>연결번호</td>
             <td>상태</td>
             <td>제목</td>
             <td>작성일자</td>
           </tr>
        </thead>
        <tbody>
          <%for(let board of boardList){%>
              <tr id="qnaEnd<%=board.qnanum%>" class="cursor-pointer" onclick="getQnaDetail('<%=board.link%>','<%=board.qnanum%>')" data-toggle="collapse" data-target="#qnaDetail<%=board.qnanum%>">
                <td><%=board.idNum%></td>
                <td><%=board.where%></td>
                <td><%=board.link%></td>
                <td></td>
                <td><%=board.summary%></td>
                <td>
                  <div><%=board.wdateD%> <%=board.wdateH%></div>
                  <div><%=board.mdateD%> <%=board.mdateH%></div>
                </td>
              </tr>
              <tr id="qnaDetail<%=board.qnanum%>" class="collapse" style="padding :0">
                  <td colspan=6 >
                    <div id="linkedQna<%=board.qnanum%>" class="display-none">
                    </div>
                  </td>
              </tr>
          <%}%>
        </tbody>
    </table>
    </div>
    <div class="container mb-3 text-center">
      <a class="<%=pages.goPre%>" href="?pageNum=1">ㄴㄴ </a>
      <a class="<%=pages.goPre%>" href="?pageNum=<%=pages.pre%>">ㄴ </a> 
      <%for(let page = pages.start ; page <= pages.end ; page++){
          if(page == pages.nowPage){%>
      <span><%=page%> </span>
          <%}else{%>
      <a href="?pageNum=<%=page%>"><%=page%> </a> 
          <%}}%>
      <a class="<%=pages.goNext%>" href="?pageNum=<%=pages.next%>">ㄱ </a>
      <a class="<%=pages.goNext%>" href="?pageNum=<%=pages.last%>">ㄱㄱ </a>
    </div>
  </body>
</html>

