<!DOCTYPE html>
<html>
    <head>
    <%- include('../partials/head') %>
    </head>
    <body>
        <div class="container mb-3">
            <form action="/pop/bid" method="post" enctype="multipart/form-data"> 
              <div class="form-group">
                <h2>입찰</h2>
              </div>
              <div class="form-group">
                <label for="price">공정 가격</label>
                <input type="text" id="price" name="price" value="<%=bid.price %>" class="form-control <%= (errors.price)?'is-invalid':'' %>">
                <% if(errors.price){ %>
                  <span class="invalid-feedback"><%= errors.price.message %></span>
                <% } %>
              </div>
              <div class="form-group">
                <label for="deadline">마감일자</label>
                <!-- 날짜 api -->
                <input type="text" id="endDate" name="deadline" class = "form-control">
                <% if(errors.deadline){ %>
                  <span class="invalid-feedback"><%= errors.deadline.message %></span>
                <% } %>
              </div>
              <div class="form-group">
                <label for="file">File Upload</label> 
                <!-- 여러파일 넣고 빼기 되도록 , 넣는파일 설명-->
                <div>
                  <input type="file" id='file' onchange="listFiles('file','fileList')" name='file' multiple/>       
                </div>
                <div id="fileList">
                  <div>파일 모음</div>
                </div>
                <% if(errors){ %>
                  <span class="invalid-feedback"><%= JSON.stringify(errors) %></span>
                <% } %>
              </div>
              <div class="form-group">
                <label for="summary">summary *</label>
                <input type="text" id="summary" name="summary" value="<%=bid.summary %>" class="form-control <%= (errors.summary)?'is-invalid':'' %>">
                <% if(errors.summary){ %>
                  <span class="invalid-feedback"><%= errors.summary.message %></span>
                <% } %>
              </div>
              <div class="form-group">
                <label for="description">Description *</label>
                <textarea id="description" name="description" rows="5" class="form-control <%= (errors.description)?'is-invalid':'' %>"><%=bid.description %></textarea>
                <% if(errors.description){ %>
                  <span class="invalid-feedback"><%= errors.description.message %></span>
                <% } %>
              </div>
      
              <% if(errors.unhandled){ %>
                <div class="invalid-feedback d-block">
                  <%= errors.unhandled %>
                </div>
              <% } %>
      
              <div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <input type="hidden" name='ordernum' value='<%=ordernum%>'>
              <input type="hidden" name='orderid' value='<%=orderid%>'>
            </form>
          </div>
    </body>
</html>