<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div>
        <div>
            <!-- info -->
            
            <div>ordernum:<%=detail.orderlink%></div>
            <div>summary:<%=details.summary%></div>
            <div>status:<%=details.status%></div>
            <div>subject : [<%=details.userclass%>]</div>
            <div>uploadfiles</div>
            <div>size : <%=details.size%></div>
            <div>color : <%=details.color%></div>
            <div>material : <%=details.material%></div>
            <div>if prototype</div>
            <div>quantity : <%=details.quantity%></div>
            <div>deadline : <%=details.deadline%></div>
            <div>description : <%=details.description%></div>

        </div>
        <div>
            <!-- qna -->
        </div>
        <div>
            <!-- history -->
        </div>
    </div>
  </body>
</html>

