<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div>
        <div>
            <!-- info -->
            
            <div>ordernum:<%=details.orderlink%></div>
            <div>summary:<%=details.summary%></div>
            <div>status:<%=statusName%></div>
            <div>subject : [<%=details.userclass%>]</div>
            <div>
              uploadfiles
              <%for(let imageInfo of visualFiles.images){%>
              <!-- file visualizing -->
              <img src='/images/<%=imageInfo.servername%>' width = 350 />
              <%}%>
              <%for(let gifInfo of visualFiles.gifs){%>
                <!-- file visualizing -->
                <img src='/gifs/<%=gifInfo.servername%>' width = 350 />
                <%}%>
              <%for(let videoInfo of visualFiles.videos){%>
              <video src='/video/<%=videoInfo.servername%>' width = 350 loop control></video>
              <%}%>
              <!-- file download -->
            </div>
            <div>size : <%=details.size%></div>
            <div>color : <%=details.color%></div>
            <div>material : <%=details.material%></div>
            <div>if prototype</div>
            <div>quantity : <%=details.quantity%></div>
            <div>deadline : <%=details.deadline%></div>
            <div>description : <%=details.description%></div>

        </div>
        <div>
            <!-- qna -->
        </div>
        <div>
            <!-- history -->
        </div>
    </div>
  </body>
</html>

