
<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/js/order.js"></script>
    <link rel="stylesheet" href="/css/order.css">
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1>입찰 리스트</h1>
    <table class="table table-hover">
      <thead>
          <tr>
              <th>주문번호</th>
              <th>입찰일시</th>
              <th>마감일자</th>
              <th>가격</th>
              <th>입찰자</th>
              <th>요약</th>
              <th>내용</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <%for(let obj of bidding){%>
              <tr>
                  <td class="align-middle"><%=obj.ordernum%></td>
                  <td class="align-middle"><%=obj.wdateD%><br /><%=obj.wdateH%></td>
                  <td class="align-middle"><%=obj.deadline%></td>
                  <td class="align-middle"><%=obj.price%></td>
                  <td class="align-middle"><%=obj.userid%></td>
                  <td class="align-middle"><%=obj.summary%></td>
                  <td class="align-middle"><%=obj.description%></td>
                  <td>
                    <div><button>선정</button></div>
                    <div><button>거절</button></div>
                  </td>
              </tr>
          <%}%>             
        </tbody>
    </table>
  </body>
</html>