<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/order.css">
    <script src="/js/order.js"></script>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
      <h1>주문 현황</h1>
      <table class="table table-hover">
        <thead>
            <tr>
                <th>주문번호</th>
                <th>주문일시</th>
                <th>마지막작업일시</th>
                <th>요약</th>
            </tr>
        </thead>
        <tbody>
            <%for(let keyVal in summary){%>
                <tr onclick="getDetailInfo('<%=keyVal%>','<%=summary[keyVal].detail.filelink%>')" data-toggle="collapse" data-target="#detailOrder<%=summary[keyVal].ordernum%>">
                    <td><%=summary[keyVal].ordernum%></td>
                    <td><%=summary[keyVal].orderdateD%><br /><%=summary[keyVal].orderdateH%></td>
                    <td><%=summary[keyVal].modidateD%><br /><%=summary[keyVal].modidateH%></td>
                    <td><%=summary[keyVal].detail.summary%></td>
                </tr>
                <tr id="detailOrder<%=summary[keyVal].ordernum%>" class="collapse" data-parent="#summaryOrder<%=summary[keyVal].ordernum%>">
                  <td colspan=4>
                    <div class="waiting">
                      <span class="ouro ouro3">
                        <span class="left"><span class="anim"></span></span>
                        <span class="right"><span class="anim"></span></span>
                      </span>
                    </div>
                    <div class="done">
                      <div>color : <%=summary[keyVal].detail.color%></div> 
                      <div>size : <%=summary[keyVal].detail.size%></div>                
                      <div>material : <%=summary[keyVal].detail.material%></div>    
                      <div>prototype quantity</div>
                      <div>quantity : <%=summary[keyVal].detail.quantity%></div>
                      <div>summary : <%=summary[keyVal].detail.summary%></div>
                      <div>description : <%=summary[keyVal].detail.description%></div>
                      <div>files : </div>
                      <div class="file-list"></div>
                    </div>
                  </td>
                </tr>
            <%}%>             
        </tbody>
    </table>
    </div>
  </body>
</html>

