<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/js/order.js"></script>
    <link rel="stylesheet" href="/css/order.css">
    <script>
      var statusNow = '<%=summaryData.status%>';
      var getStatus = '<%=summaryData.getStatus%>';
    </script>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <input type="hidden" name='ordernum' value='<%=summaryData.ordernum%>'>
    <div class="container container-per mb-3">
        <div>
            <!-- info -->
            
            <h2>주문 상세</h2>
            <!-- summary data. 상태에 상관없는 주문 내용 -->
            <div>주문번호 | <%=summaryData.ordernum%></div>
            <div>상태 | 
              <select name="status" id="statusOp">
              </select>
            </div>
            <div>주문자 | <%=summaryData.orderid%></div>
            <div>제작자 | <%=summaryData.vender%></div>
            <div>주문일자 | <%=summaryData.wdate%></div>
            <div>최근작업일자 | <%=summaryData.mdate%></div>
            <!-- detail data. 주문 상세 내용 -->
            <%for(let detail of detailData){%>
            <div class="bordered">
              <div>주문 상세 번호 | <%=detail.detailnum%></div>
              <div>작성자 | <%=detail.userid%></div>
              <div>작성일자 | <%=detail.wdate%></div>
              <%if(detail.size){%>
              <div>크기 | <%=detail.size%></div>
              <%}%>
              <%if(detail.color){%>
              <div>색깔 | <%=detail.color%></div>
              <%}%>
              <%if(detail.material){%>
              <div>재료 | <%=detail.material%></div>
              <%}%>
              <%if(detail.quantity){%>
              <div>수량 | <%=detail.quantity%></div>
              <%}%>
              <%if(detail.deadline){%>
              <div>마감시간 | <%=detail.deadline%></div>
              <%}%>
              <div>제목 | <%=detail.summary%></div>
              <div>내용 | <%=detail.description%></div>
              <%for(let imageInfo of detail.visualFiles.images){%>
                <!-- file visualizing -->
                <div><img src='/images/<%=imageInfo.servername%>' width = 350 /></div>
                <%}%>
                <%for(let gifInfo of detail.visualFiles.gifs){%>
                  <!-- file visualizing -->
                  <div><img src='/gifs/<%=gifInfo.servername%>' width = 350 /></div>
                  <%}%>
                <%for(let videoInfo of detail.visualFiles.videos){%>      
                <div><video src='/videos/<%=videoInfo.servername%>' style='width:350px' controls loop></video></div>
                <%}%>
              <div class='bordered'>
                파일 다운로드
                <!-- file download -->
                <div>
                  <%for(let downloadFile of detail.filesInfo){%>
                  <div><a href="/order/detail/<%=downloadFile.server%>"><%=downloadFile.origin%></a> (<%=downloadFile.byte%>)</div>
                  <%}%>
                </div>
              </div>
            </div>
            <%}%>
        </div>
    </div>
    <!-- 고정 메뉴 네비게이션 -->
    <div class="nav-fixed-buttons">
      <div>
        <button type='button' class="btn btn-block red-b" href="#">최상위로</button>
      </div>
      <%if(summaryData.btn1Name){%>
      <div>
        <button type='button' class="btn btn-block blue-b" href="#"><%=summaryData.btn1Name%></button>
      </div>
      <%}%>
      <%if(summaryData.btn2Name){%>
      <div>
        <button type='button' class="btn btn-block yellow-b" href="#"><%=summaryData.btn2Name%></button>
      </div>
      <%}%>
      <%if(summaryData.btn3Name){%>
      <div>
        <button type='button' class="btn btn-block" href="#"><%=summaryData.btn3Name%></button>
      </div>
      <%}%>
    </div>
  </body>
</html>

