<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/js/order.js"></script>
    <link rel="stylesheet" href="/css/order.css">
    <script>
      var statusNow = '<%=summaryData.status%>';
      var getStatus = '<%=summaryData.getStatus%>';
    </script>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <input type="hidden" name='ordernum' value='<%=summaryData.ordernum%>'>
    <div class="container container-per mb-3">
        <div>
            <!-- info -->
            
            <h2>주문 상세</h2>
            <!-- summary data. 상태에 상관없는 주문 내용 -->
            <div>주문번호 | <%=summaryData.ordernum%></div>
            <div>상태 | 
              <select name="status" id="statusOp">
              </select>
            </div>
            <div>주문자 | <%=summaryData.orderid%></div>
            <div>제작자 | <%=summaryData.vender%></div>
            <div>주문일자 | <%=summaryData.wdate%></div>
            <div>최근작업일자 | <%=summaryData.mdate%></div>
            <!-- detail data. 주문 상세 내용 -->
            <div class="bordered">
              <div>주문 상세 번호 | </div>

              <%for(let imageInfo of visualFiles.images){%>
                <!-- file visualizing -->
                <div><img src='/images/<%=imageInfo.servername%>' width = 350 /></div>
                <%}%>
                <%for(let gifInfo of visualFiles.gifs){%>
                  <!-- file visualizing -->
                  <div><img src='/gifs/<%=gifInfo.servername%>' width = 350 /></div>
                  <%}%>
                <%for(let videoInfo of visualFiles.videos){%>      
                <div><video src='/video/<%=videoInfo.servername%>' width = 350 loop control></video></div>
                <%}%>
              <div class='bordered'>
                파일 다운로드
                <!-- file download -->
                <div>
                  <%for(let downloadFile of filesInfo){%>
                  <div><a href="/order/detail/<%=downloadFile.server%>"><%=downloadFile.origin%></a> (<%=downloadFile.byte%>)</div>
                  <%}%>
                </div>
              </div>
            </div>

        </div>
        <div>
            <!-- qna -->
        </div>
        <div>
            <!-- history -->
        </div>
    </div>
    <!-- 고정 메뉴 네비게이션 -->
    <div class="nav-fixed-buttons">
      <div>
        <a class="buton red-b" href="#">탑</a>
      </div>
      <div>
        <a class="buton blue-b" href="#">문의</a>
      </div>
      <div>
        <a class="buton yellow-b" href="#">기타</a>
      </div>
    </div>
    <div>s</div>
    <div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div><div>s</div>
  </body>
</html>

