<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/js/order.js"></script>
    <link rel="stylesheet" href="/css/order.css">
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container container-per mb-3">
        <h3 class="contentBoxTop mb-3">주문통계</h3>
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th scope="col"><%=statusName.order.value%></th>
                    <th scope="col"><%=statusName.bidding.value%></th>
                    <th scope="col"><%=statusName.ptWork.value%></th>
                    <th scope="col"><%=statusName.ptDeli.value%></th>
                    <th scope="col"><%=statusName.work.value%></th>
                    <th scope="col"><%=statusName.deli.value%></th>
                    <th scope="col"><%=statusName.done.value%></th>
                    <th scope="col">총주문수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"><%=summaryNum.order%></td>
                    <td><%=summaryNum.bidding%></td>
                    <td><%=summaryNum.ptWork%></td>
                    <td><%=summaryNum.ptDeli%></td>
                    <td><%=summaryNum.work%></td>
                    <td><%=summaryNum.deli%></td>
                    <td><%=summaryNum.done%></td>
                    <td><%=summaryNum.all%></td>
                </tr>
            </tbody>
        </table>
        <!-- 라스트오더 -->
        <h3>주문 상세</h3>
         <!-- 재공사 -->
        <!-- 주문 간략리스트 -->
        <h3>주문 목록</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>주문번호</th>
                    <th>주문일시</th>
                    <th>마지막작업일시</th>
                    <th>상태</th>
                    <th>주문 메모</th>
                </tr>
            </thead>
            <tbody>
                <%for(let obj of summary){%>
                    <tr onclick="goLastOrder('<%=obj.ordernum%>')">
                        <td><%=obj.ordernum%></td>
                        <td><%=obj.orderdateD%><br /><%=obj.orderdateH%></td>
                        <td><%=obj.modidateD%><br /><%=obj.modidateH%></td>
                        <td><%=obj.status%></td>
                        <td><input type="text" value="<%=obj.memo%>"></td>
                    </tr>
                <%}%>             
            </tbody>
        </table>
    </div>
  </body>
</html>

