<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/js/order.js"></script>
    <link rel="stylesheet" href="/css/order.css">
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container container-per mb-3">
        <h3 class="contentBoxTop mb-3">주문통계</h3>
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th scope="col"><%=statusName.status1%></th>
                    <th scope="col"><%=statusName.status2%></th>
                    <th scope="col"><%=statusName.status3%></th>
                    <th scope="col"><%=statusName.status4%></th>
                    <th scope="col"><%=statusName.status5%></th>
                    <th scope="col"><%=statusName.status6%></th>
                    <th scope="col">총주문수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"><%=summaryNum.order%></td>
                    <td><%=summaryNum.ptWork%></td>
                    <td><%=summaryNum.ptDeli%></td>
                    <td><%=summaryNum.work%></td>
                    <td><%=summaryNum.deli%></td>
                    <td><%=summaryNum.done%></td>
                    <td><%=summaryNum.all%></td>
                </tr>
            </tbody>
        </table>
        <!-- 라스트오더 -->
        <h3>주문 상세</h3>
        <table class='table'>
            <thead id="lastOrder" data-toggle="collapse" data-target="#orderDetail">
                <tr>
                    <td width=10 class="align-middle"><%=lastOrderNum%></td>
                    <%for(let status of lastOrder){%>
                    <td scope="col" class="align-middle">
                        <div class="last"><%=status.title%></div>
                        <div>
                            <%if(status.type == 'images' ||status.type == 'gifs'){%>
                            <img width = 150 height = 150 src= "<%=status.path%>" />
                            <%} else if(status.type == 'videos'){%>
                            <video width = 150 height = 150 src="<%=status.path%>" controls loop></video>
                            <%} else if(status.type == 'not'){%>
                            <img width = 150 height = 150 src="/img/<%=status.filename%>.png" alt="">
                            <%} else {%>
                            <img src="/img/Unknown.png" width = 150 height = 150>
                            <%}%>
                        </div>  
                        <div>
                            <%=status.summary%>
                        </div>  
                    </td>
                    <%}%>
                </tr>
            </thead>
            <!-- 주문 상세 -->
            <tbody id="orderDetail" class="collapse" data-parent="#lastOrder">
                <tr>
                    <td><!--빈공간--></td>

                    <td scope="row" onclick="goPopup('<%=lastOrderNum%>','1')">
                        <%for(let details of orderDetail.status1){%>
                        <div><%=details.userclass%> : <%=details.summary%></div>
                        <%}%>
                    </td>
                    <td onclick="goPopup('<%=lastOrderNum%>','2')">
                        <%for(let details of orderDetail.status2){%>
                        <div><%=details.userclass%> : <%=details.summary%></div>
                        <%}%>
                    </td>
                    <td onclick="goPopup('<%=lastOrderNum%>','3')">
                        <%for(let details of orderDetail.status3){%>
                        <div><%=details.userclass%> : <%=details.summary%></div>
                        <%}%>
                    </td>
                    <td onclick="goPopup('<%=lastOrderNum%>','4')">
                        <%for(let details of orderDetail.status4){%>
                        <div><%=details.userclass%> : <%=details.summary%></div>
                        <%}%>
                    </td>
                    <td onclick="goPopup('<%=lastOrderNum%>','5')">
                        <%for(let details of orderDetail.status5){%>
                        <div><%=details.userclass%> : <%=details.summary%></div>
                        <%}%>
                    </td>
                    <td onclick="goPopup('<%=lastOrderNum%>','6')">
                        <%for(let details of orderDetail.status6){%>
                        <div><%=details.userclass%> : <%=details.summary%></div>
                        <%}%>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- 주문 간략리스트 -->
        <h3>주문 목록</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>주문번호</th>
                    <th>주문일시</th>
                    <th>마지막작업일시</th>
                    <th>상태</th>
                    <th>주문 메모</th>
                </tr>
            </thead>
            <tbody>
                <%for(let obj of summary){%>
                    <tr onclick="goLastOrder('<%=obj.ordernum%>')">
                        <td><%=obj.ordernum%></td>
                        <td><%=obj.orderdateD%><br /><%=obj.orderdateH%></td>
                        <td><%=obj.modidateD%><br /><%=obj.modidateH%></td>
                        <td><%=obj.status%></td>
                        <td><input type="text" value="<%=obj.memo%>"></td>
                    </tr>
                <%}%>             
            </tbody>
        </table>
    </div>
  </body>
</html>

