
<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/js/bid.js"></script>
    <link rel="stylesheet" href="/css/bid.css">
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1>입찰 리스트</h1>
    <table class="table">
      <thead>
          <tr class="table-dark">
              <th>입찰번호</th>
              <th>연결주문</th>
              <th>입찰일시</th>
              <th>마감일자</th>
              <th>가격</th>
              <th>입찰자</th>
              <th>요약</th>
              <th>내용</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        <%var num = 0;%>
        <%for(let obj of bidding){%>
        <tr id="ing<%=++num%>">
          <div>
            <td class="align-middle"><%=obj.bidnum%></td>
            <td class="align-middle"><%=obj.ordernum%></td>
            <td class="align-middle"><%=obj.wdateD%><br /><%=obj.wdateH%></td>
            <td class="align-middle"><%=obj.deadline%></td>
            <td class="align-middle"><%=obj.price%></td>
            <td class="align-middle"><%=obj.anotherId%></td>
            <td class="align-middle"><%=obj.summary%></td>
            <td class="align-middle"><%=obj.description%></td>
            <%if(currentUser.userclass == "vender"){%>
            <td>
              <div><button onclick="selectThisOrder('<%=obj.ordernum%>','<%=obj.vender%>','<%=obj.customer%>','cancel')">취소</button></div>
              <%if(obj.qnaAble){%>
              <div><button onclick="goQna('<%=obj.bidnum%>','bid')">문의</button></div>
              <%}%>
            </td>
            <%} else if(currentUser.userclass == "normal"){%>
            <td>
              <div><button onclick="selectThisOrder('<%=obj.ordernum%>','<%=obj.vender%>','<%=obj.customer%>','select')">선정</button></div>
              <div><button onclick="selectThisOrder('<%=obj.ordernum%>','<%=obj.vender%>','<%=obj.customer%>','reject')">거절</button></div>
              <div><button onclick="goQna('<%=obj.bidnum%>','bid')">문의</button></div>
            </td>
            <%}%>
          </div>
          <%if(obj.nego.length !=0){%>
        </tr>
        <tr>
          <td class="negoAcceptList" colspan=9>
            <%for(let negoVal of obj.nego){%>
              <div>
                <span><%=negoVal.mdateFormated%></span>
                <%if(negoVal.aPrice){%>
                <span> | 가격변경</span>
                <span><%=negoVal.bPrice%>원 -> <%=negoVal.aPrice%>원</span>
                <%}if(negoVal.aDeadline){%>
                <span> | 마감시간변경</span>
                <span><%=negoVal.bDeadline%> -> <%=negoVal.aDeadline%></span>
                <%}%>
              </div>
            <%}%>
          </td>
          <%}%>
        </tr>
       <%}%>             
      </tbody>
    </table>
    <h1>입찰 내역</h1>
    <table class="table table-striped">
      <thead>
          <tr>
              <th>입찰번호</th>
              <th>연결주문</th>
              <th>입찰일시</th>
              <th>마감일자</th>
              <th>선정/거절일자</th>
              <th>가격</th>
              <th>입찰자</th>
              <th>요약</th>
              <th>내용</th>
              <th>상태</th>
          </tr>
      </thead>
      <tbody>
          <%for(let obj2 of bidDone){%>
              <tr>
                  <td class="align-middle"><%=obj2.bidnum%></td>
                  <td class="align-middle"><%=obj2.ordernum%></td>
                  <td class="align-middle"><%=obj2.wdateD%><br /><%=obj2.wdateH%></td>
                  <td class="align-middle"><%=obj2.doneDateD%><br /><%=obj2.doneDateH%></td>
                  <td class="align-middle"><%=obj2.deadline%></td>
                  <td class="align-middle"><%=obj2.price%></td>
                  <td class="align-middle"><%=obj2.anotherId%></td>
                  <td class="align-middle"><%=obj2.summary%></td>
                  <td class="align-middle"><%=obj2.description%></td>
                  <td class="align-middle"><%=obj2.status%></td>
              </tr>
          <%}%>             
        </tbody>
    </table>
    <form action="bidList" id='selectForm' method='post'>
      <input type="hidden" name="ordernum">
      <input type="hidden" name="vender">
      <input type="hidden" name="customer">
      <input type="hidden" name="status">
    </form>
  </body>
</html>