<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <h1><%=html.content1%></h1>
    <a href="<%=html.pageUrl%>"><%=html.content2%></a>
    
  </body>
  <%- include('../partials/footer') %>
</html>
